html, body {
background-image: url('img.jpg');
background-size: 100%;
background-repeat: no-repeat;
background-color: #24272b;
color: white;
text-align: left;
margin: 0px;
overflow: hidden;
}
h1 {
font-size: 25px;
text-align: left;
color: white;
}
#main-section {
text-align: left;
display: block;
}
#mods-section {
text-align: left;
display: none;
}
.btn {
background-color: #003263;
color: white;
width: 227px;
height: 46px;
padding-bottom: 5px;
text-align: center;
font-size: 20px;
margin-top: 8px;
margin-bottom: 8px;
margin-left: 5px;
margin-right: 5px;
border-bottom-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
border-left-width: 0px;
transition-duration: 0.4s;
cursor: pointer;
border-radius: 8px;
}
.btn:hover {
background-color: #0058b1;
}
.btn-blank {
background-color: #3d3d3d;
pointer-events: none;
}
.btn-web {
background-color: #076300;
}
.btn-web:hover {
background-color: #18891b;
}
.btn-toolbox {
background-color: #ae2301;
}
.btn-toolbox:hover {
background-color: #d42a01;
}
.btn-goldhen221 {
background-color: #ba8c18;
}
.btn-goldhen221:hover {
background-color: #daa520;
}